<script>
function urlChanger(){
window.location.href='reports?plant=' + document.getElementById('plant').value;
}
	
{{#if queryString}}
setTimeout(() => {
  alert("There is no report this week for your selection.")
}, 100);
{{/if}}
	
</script>

<form>
<div class="card">
  <h5 class="card-header">Generate Plant Reports</h5>
  <div class="card-body">
    <h5 class="card-title">Select a plant below</h5>
	  
  <input type="text"  class="form-control" name="plant" id="plant" list="plantname" placeholder="Select Plant from Dropdown" onchange="urlChanger()">      
    <datalist id="plantname">
		{{#each plant}}
  <option value="{{this.Plant}}" >{{this.PlantName}}</option>
		{{/each}}
        </datalist>
	  
        <br>
	  <button type="submit"  class="btn btn-primary btn-lg">Generate Report</button>
  </div>
</div>
	</form>

