<form>
<div class="card">
  <h5 class="card-header">Update record(s)</h5>
  <div class="card-body">
	  
	  
        <br>
	  <button type="submit" class="btn btn-primary btn-lg">Update Now</button>
  </div>
</div>
	</form>